<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioabsoftware.gameraven">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyThemes.DarkTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AllInOneV2"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="gamefaqs.com"
                    android:pathPrefix="/boards"
                    android:scheme="http" />
                <data
                    android:host="www.gamefaqs.com"
                    android:pathPrefix="/boards"
                    android:scheme="http" />
                <data
                    android:host="gamefaqs.com"
                    android:pathPattern="/users/.*/boards"
                    android:scheme="http" />
                <data
                    android:host="www.gamefaqs.com"
                    android:pathPattern="/users/.*/boards"
                    android:scheme="http" />
                <data
                    android:host="gamefaqs.com"
                    android:pathPrefix="/pm"
                    android:scheme="http" />
                <data
                    android:host="www.gamefaqs.com"
                    android:pathPrefix="/pm"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prefs.SettingsAccount"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".prefs.SettingsHighlightedUsers"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".About" />
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service
            android:name=".NotifierService"
            android:exported="false"
            android:label="Notifier Service" />

        <receiver android:name=".NotifierStartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".prefs.TabbedSettings"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>
